<form action="/bienes/nuevo" method="post" autocomplete="off" id="formAgregarBien">
  <div class="mb-3">
    <label class="form-label" for="nombre">Nombre del bien</label>
    <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Computadoras, Sillas, Mesas, etc...">
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label class="form-label" for="fecha_ingreso">Fecha de ingreso</label>
      <input type="date" id="fecha_ingreso" class="form-control" name="fecha_ingreso" placeholder="Computadoras, Sillas, Mesas, etc...">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="categorias_id">Categoria</label>
      <select id="categoria_id" name="categorias_id" class="form-select select2 select2-onmodal">
        <!-- <option disabled selected hidden>Seleccione la categoria</option> -->
        <% categorias.forEach(cat => {%>
          <option value="<%= cat.id %>"><%= cat.nombre %></option>
        <%}) %>
      </select>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="trabajadores_id">Trabajador encargado</label>
    <select id="trabajadores_id" name="trabajadores_id" class="form-select select2 select2-onmodal">
      <option disabled selected hidden>Seleccione el trabajador</option>
      <% trabajadores.forEach(tab => {%>
        <option value="<%= tab.id %>"><%= tab.nombre %> <%= tab.apellido %> (<%= tab.departamento %>) </option>
      <%}) %>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="sedes_id">Ubicacion</label>
    <select id="sedes_id" name="sedes_id" class="form-select select2 select2-onmodal">
      <option disabled selected hidden>Seleccione la sede</option>
      <% sedes.forEach(sed => {%>
        <option value="<%= sed.id %>"><%= sed.nombre %></option>
      <%}) %>
    </select>
  </div>
</form>