<%- include('../partials/header') %>
<main class="container">
    <div class="container">
        <%- include('../partials/messages') %>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h5 text-uppercase my-3">Realizar nueva solicitud</h1>
        <div>
            <a href="/solicitudes" class="btn btn-sm btn-primary">Listado de solicitudes</a>
        </div>
    </div>

    <div class="mb-3">
        <div class="dropdown">
            <h4>Tipo de solicitud</h4>
            <button class="btn btn-secondary btn-small dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <% if (tipo_solicitud === '1') {%> Asignaci贸n <% } %>
                <% if (tipo_solicitud === '2') {%> Traslado <% } %>
                <% if (tipo_solicitud === '3') {%> Reparaci贸n <% } %>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item <%= tipo_solicitud === '1' ? 'disabled' : '' %>" href="?tipo=1">
                        Asignaci贸n
                    </a>
                </li>
                <li>
                    <a class="dropdown-item <%= tipo_solicitud === '2' ? 'disabled' : '' %>" href="?tipo=2">
                        Traslado
                    </a>
                </li>
                <li>
                    <a class="dropdown-item <%= tipo_solicitud === '3' ? 'disabled' : '' %>" href="?tipo=3">
                        Reparaci贸n
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <% if(tipo_solicitud === '1') {%>
    <%- include('./inc/asignacion') %>
    <% } %>

    <% if(tipo_solicitud === '2') {%>
    <%- include('./inc/traslado') %>
    <% } %>

    <% if(tipo_solicitud === '3') {%>
    <%- include('./inc/reparacion') %>
    <% } %>
</main>
<%- include('../partials/footer') %>