<%- include('../partials/header') %>
<%- include('./inc/details_modal') %>

<main class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h5 text-uppercase my-3">Solicitudes</h1>
        <% if(user?.trabajadores_id) { %>
        <div>
            <a href="/solicitudes/formulario" class="btn btn-sm btn-primary">Crear solicitud</a>
        </div>
        <% } %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo solicitud</th>
                <th>Codigo de bienes</th>
                <th>Gerencia</th>
                <th>Solicitante</th>
                <th>Tipo solicitud</th>
                <th>Fecha de solicitud</th>
            </tr>
        </thead>
        <tbody>
            <% if(solicitudes.length) {%>
            <% solicitudes.forEach(solicitud => { %>
            <tr>
                <td><%= solicitud.codigo_solicitud %></td>
                <td style="max-width: 300px;">
                    <% solicitud.bienes.forEach(codigo => {%>
                    <div class="badge bg-dark mb-2">
                        <%= codigo %>
                    </div>
                    <%}) %>
                </td>
                <td><%= solicitud.gerencia %></td>
                <td><%= solicitud.nombre_solicitante %> <%= solicitud.apellido_solicitante %></td>
                <td>
                    <span class="badge bg-success">
                        <%= solicitud.tipo_solicitud %>
                    </span>
                </td>
                <td><%= new Date(solicitud.fecha_solicitud).toLocaleDateString('es-vn', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
                </td>
                <td>
                    <button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#detalles_solicitud_modal<%= solicitud.codigo_solicitud %>">Detalles</button>
                </td>
            </tr>
            <% }) %>
            <% } else { %>
            <tr>
                <td colspan="7">
                    <div class="alert alert-info m-0">No se encuentran solicitudes.</div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</main>
<%- include('../partials/footer') %>