<div class="row">
  <div class="col">
    <h3>Datos del Solicitante</h3>

    <div class="mb-3">
      <label for="id_solicitante" class="form-label">ID del solicitante</label>
      <select name="id_solicitante" id="id_solicitante" class="form-select form-select-lg">

        <option value="" disabled>Seleccione el código del solicitante</option>
        
        <% solicitud_trabajadores.forEach(t => {%>
          <option class="form-code-option" value="<%- t.id %>" %>>T-<%= t.id %><%= t.id %> - <%= t.nombre %> <%= t.apellido %></option>
        <% }) %>
      </select>
    </div>
  </div>

  <div class="col">
    <h3>Datos del trabajador asignado</h3>

    <div class="mb-3">
      <label for="id_trabajador" class="form-label">ID del trabajador asignado</label>
      <select name="id_trabajador" id="id_trabajador" class="form-select form-select-lg ">

        <option value="">Seleccione el código del trabajador asignado</option>
        
        <% solicitud_trabajadores.forEach(t => {%>
          <option value="<%- t.id %>">T-<%= t.id %>-<%= t.nombre %> <%= t.apellido %></option>
        <% }) %>
      </select>
  </div>
</div>

<div class="mb-3">
  <label for="codigo_bien" class="form-label">Código del bien</label>
  <select name="codigo_bien" class="form-select form-select-lg w-50">
    <% codigo_bienes.forEach(b => { %>
      <option value="<%- b.codigo %>"><%= b.codigo %> - <%= b.nombre %></option>
    <% }) %>
  </select>
</div>
