<%- include('../partials/header') %>
<%- include('./inc/modal_create') %>
<main class="container">
    <%- include('../partials/messages') %>
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h5 text-uppercase my-3">Bienes de la empresa</h1>
        <div>
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal_create_bien">Agregar
                Bien</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Categoria</th>
                <th>Gerencia</th>
                <th>Departamento</th>
                <th>Ubicación</th>
                <th>Fecha de ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (bienes.length) { %>
            <% bienes.forEach(bien => {%>
            <tr>
                <td><%= bien.nombre %></td>
                <td><%= bien.codigo %></td>
                <td>
                    <span class="badge bg-secondary">
                        <%= bien.categoria %>
                    </span>
                </td>
                <td><%= bien.gerencia %></td>
                <td><%= bien.departamento %></td>
                <td><%= bien.ubicacion %></td>
                <td>
                    <%= new Date(bien.fecha_ingreso).toLocaleDateString('es-vn', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
                </td>
                <td>
                    <a href="" class="btn btn-danger btn-sm">Elimniar</a>
                </td>
            </tr>
            <%}) %>
            <% } else { %>
            <tr>
                <td colspan="7">
                    <div class="alert alert-info m-0">Aún no hay bienes registrados.</div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</main>
<%- include('../partials/footer') %>